<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bluecotton.mapper.ChatMemberMapper">
    <insert id="insertChatMember" parameterType="ChatMemberVO">
        INSERT INTO
        TBL_CHAT_MEMBER(ID, CHAT_ID, MEMBER_ID, CHAT_MEMBER_ROLE, CHAT_MEMBER_STATUS)
        VALUES (SEQ_CHAT_MEMBER.NEXTVAL, #{chatId}, #{memberId}, #{chatMemberRole}, #{chatMemberStatus});
    </insert>

    <delete id="delete" parameterType="ChatMemberVO">
        DELETE FROM TBL_CHAT_MEMBER
        WHERE MEMBER_ID = #{memberId} AND CHAT_ID = #{chatId}
    </delete>

</mapper>